{% extends "pjax.html" %}

{% load humanize %}

{% block content %}
  <div class="filters">
    <form method="GET" action="{% url 'dashboard' %}">
      <input class="search" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search" />
    </form>
  </div>
  <table>
    <thead>
      <tr>
        <th><a href="{% url 'dashboard' %}?order_by=lower_name">Name</a></th>
        <th><a href="{% url 'dashboard' %}?order_by=items_count&ordering=desc">Products</a></th>
        <th><a href="{% url 'dashboard' %}?order_by=created_at&ordering=desc">Created</a></th>
      </tr>
    </thead>
    <tbody>
    {% for lst in object_list %}
      <tr>
        <td><a href="{{ lst.get_absolute_url }}">{{ lst.name }}</a></td>
        <td>{{ lst.items.count }}</td>
        <td>{{ lst.created_at|naturaltime }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}
