{% extends parent %}

{% load crispy_forms_tags %}

{% block content %}
  <form action="{% url "list-create" %}" method="POST">
    {% csrf_token %}
    <legend>Shopping List</legend>
    {{ form|crispy }}

    <div class="formsets">
    {% for formset in inlines %}
      {{ formset.management_form|safe }}
      {% for product in formset %}
        <legend>Product {{ forloop.counter }}</legend>
        {{ product|crispy }}
      {% endfor %}
    {% endfor %}
    </div>
    <button class="btn btn-default js-add">Add Product</button>
    <button type="submit" class="btn btn-default">Create List</button>
  </form>
  <script id="empty-product" type="text/html">
    <legend>Product __new__</legend>
    {{ inlines.0.empty_form|crispy }}
  </script>

{% endblock content %}
